<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1>Sign in</h1>
            <div class="social-container">
                <p>{{errorMsg}}</p>
            </div>
            <input type="email" placeholder="Email" name="email" formControlName="email" />
            <input type="password" placeholder="Password" name="password" formControlName="password" />
            <a routerLink="../forgot-Password" href="#">Forgot your password?</a>
            <button>Sign In</button>
            <a routerLink="../registration" href="#">Create your account</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello</h1>
                <p>Enter your personal details and start journey with us</p>
            </div>
        </div>
    </div>
</div>